<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Перевод</title>
</head>
<body text = "200040" bgcolor = "FAEBD6" vlink = "4000ff">
<div class="row">
	<div class="col-lg-6 col-sm-8">
		<h1><a>Перевод:</a></h1>
		<p>{{endtext}}</p>
		<p>{{asterix}}</p>
	</div>
	<div class="col-lg-6 col-sm-4">
		<img src="{{url_for('static', filename='64f32618f41975a73c3d9ac3bf427996.jpg')}}" alt = "КАРТИНКА" width = "200" height = "100">
	</div>
</div>
<p><a target = "_blank" href = "http://breakingmad.me/ru/collection/7289" title = "Ссылка">Ссылка на статью</a></p>
</body>
</html>